* {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

body {
	height: 4000px;
}

.backgroundImage {
	background-image: url("../images/background_programming.jpg");
	background-size: cover; /* slika pokriva ceo ekran */
	background-repeat: no-repeat; /* ne ponavlja se */
	background-position: center; /* centrirana */
}

.nameFontSize {
	font-size: 3rem;
}

.professionFontSize {
	font-size: 1.5rem;
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
	* {
		font-size: 1.5rem;
	}
}
